<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EquityData</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
</head>
<body>
    <div class="container">
    <form action = "{% url 'equitylist' %}" method="post">
        {% csrf_token %}
        <div class="input-group mb-3">
          <input type="text" class="form-control" name="c_name" placeholder="Share Name" aria-label="Equity Share" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-primary" type="submit">Search</button>
          </div>
        </div>
    </form></div>

    {% if not data %}
        <h3 class="container">Please search for an Equity Share</h3>
    {% else %}

    {% load static %}
    {% if file %}
    <div class="container" >
        <button class="btn btn-info" style="float:right;"><a style="color: white;" href="{%static 'stocks/'%}{{file}}" download>Download</a></button>
    </div>
    {% endif %}


    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Code</th>
          <th scope="col">Name</th>
          <th scope="col">Open</th>
            <th scope="col">High</th>
            <th scope="col">Low</th>
            <th scope="col">Close</th>
        </tr>
      </thead>
      <tbody>

      {% for share in data %}
      <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ share.code }}</td>
          <td>{{ share.name }}</td>
          <td>{{ share.open }}</td>
          <td>{{ share.high }}</td>
          <td>{{ share.low }}</td>
          <td>{{ share.close }}</td>
      </tr>
      {%endfor%}


      </tbody>
    </table>
    </div>
    {%endif%}




</body>
</html>